/* remove browse channel background */
.container__10dc7,
.header__60bef,
.container__7590f {
    background-color: transparent !important;
}

/* hide gift button in message box */
button[aria-label='Send a gift'] {
    display: none;
}

/* prevent user popout from darkening twice */
.overlayBackground__86b78 {
    background-color: transparent !important;
}

/* remove members list background */
.container__037ed,
.content__4bf10 > .page__0b66e,
.container__11d72 {
    background-color: transparent !important;
}

/* remove nitro advertising */
.container-34SFyU {
    display: none;
}

/* mentioned message */
.mentioned_d5deea::before {
    background-color: var(--site-accent-color) !important;
}

/* change name color */
.memberInner_a31c43:has(img[src^="https://cdn.discordapp.com/avatars/192035055584018435"]) .username_de3235
{
    color: #c0a962 !important;
}
.memberInner__4dac6:has(img[src^="https://cdn.discordapp.com/avatars/340987464602615809"]) .username__4a6f7
{
    color: #dc86d7 !important;
}

/* change status color */
.avatar__6337f:has(img[src^="https://cdn.discordapp.com/avatars/192035055584018435"]) rect:is([fill="#23a55a"],[mask="url(#svg-mask-status-online)"])
{
    fill: #c0a962 !important;
}

.avatar__6337f:has(img[src^="https://cdn.discordapp.com/avatars/340987464602615809"]) rect[mask="url(#svg-mask-status-online)"]
{
    fill: #dc86d7 !important;
}
