/* hide friends search box */
#online-tab > .searchBar_e0840f {
    display: none;
}

/* remove nitro channel */
a[href='/store'] {
    display: none;
}

/* remove Friends channel when selected */
.selected_f5eb4b > a[href='/channels/@me'] {
    display: none;
}

/* remove Shop channel */
a[href='/shop'] {
    display: none;
}

/* remove direct messages list header */
.privateChannelsHeaderContainer_c47fa9 {
    display: none !important;
}

/* remove green from Add Friend button */
div[aria-label='Add Friend'] {
    background-color: unset !important;
    color: unset !important;
}

/* remove top seach bar */
.searchBar_f0963d {
    display: none !important;
}

/* hide interact buttons on friends list */
.actions_e05dae {
    display: none !important;
}

/* hide empty active now card */
.emptyCard_f02fcf {
    display: none !important;
}

/* remove active now title */
.header_bf550a {
    display: none;
}

/* remove Follow button background */
.followButton-1N-GGp {
    background-color: unset !important;
}

/* remove separators from friends list */
.peopleListItem_dab480 {
    border: none !important;
}

.scroller__7c25e {
    border: none !important;
}

.itemCard_b64118 {
    border-width: 0 !important;
}

.separator_fc3370 {
    display: none;
}

/* make activity now details transparent */
.theme-dark .inset__61d5b {
    background-color: transparent;
}

/* hide friends list scrollbar */
div[data-list-id='people-list'] {
    scrollbar-width: none;
}

div[data-list-id='people']::-webkit-scrollbar {
    width: 0 !important;
}

/* remove avatar decoration */
.avatarDecoration_ae35e3 {
    display: none !important;
}

/* remove list count label */
.peopleColumn__0c784 .sectionTitle_b622ce {
    display: none;
}

/* make all status icons round */
.avatarHoverTarget-1zzfRL > div,
.avatar-1HDIsL > div,
.avatar-6qzftW > div,
.avatar-1EWyVD,
.avatar-2MSPKk {
    > svg > rect:not([mask='url(#svg-mask-status-online-mobile)']) {
        width: 15 !important;
        mask: url(#svg-mask-status-online);
    }

    & svg rect:is([height='2.5'], [x='6.25'])[fill='black'] {
        display: none;
    }
}

/* hide offline status icons */
div[role='img'][aria-label$=', Offline'] {
    & rect {
        display: none;
    }

    & foreignObject {
        mask: url(#svg-mask-avatar-default);
    }
}
